* {
    box-sizing: border-box;
}

/*container styles*/
.container {
    padding: 20px;
    border: 2px dashed black;
    max-width: 70vw;
    margin: 30px auto;
}

.container h1 {
    text-align: center;
    margin: 0;
}

/*Task styles*/
.addTask {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 70px;
}

.taskInput {
    border: none;
    border-bottom: 1px solid silver;
    width: 300px;
    margin:0 5px;
}

.taskInput:focus {
    outline: none;
}

.plusImg {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.sortingTasks{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.createdTask {
    display: flex;
    margin: 20px 0;
}

.createdTaskContent {
    max-width: 50%;
    min-width: 300px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 20px;
}

.createdTaskCheckboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createdTaskCheckbox {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.createdTaskOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.sortingBlock{
    display: none;
    justify-content: space-evenly;
    margin: 0 20px;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #191970;
    text-align: center;
    border-radius: 10px;
}
.sortingBlock a {
    cursor: pointer;
    border: 1px solid #00BFFF ;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: inset 0px 5px 15px rgba(0, 132, 255, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
    transition: all .4s ease-in-out;
}

.sortingBlock a:hover{
    border: 1px solid rgba(129,250,226);
    rgba(119, 107, 250);
    box-shadow: inset 3px 3px 5px rgba(0, 132, 255, 0.3), 1px 1px 3px #00CED1;
}

.sortingBlock a:active{

    background: rgb(129,250,226);
}


/*buttons styles*/
.forButtons{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin: 20px auto;
    max-width: 70%;
    min-width: 400px;
}
.blockButtons{
    display: inline-block;
    border: 1px solid rgba(103, 93, 212);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    font-family: "Roboto";
    transition: all .2s ease-in-out;
    background: rgb(129,250,226);
    background: linear-gradient(180deg, rgba(129,250,226,1) 8%, rgba(156,152,240,1) 97%);
}
.blockButtons:hover{
    border: 1px solid rgba(119, 107, 250);
    box-shadow: inset 0px 5px 15px rgba(0, 132, 255, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
}
.blockButtons:active{
    background: rgb(92,209,186);
    background: linear-gradient(180deg, rgba(92,209,186,1) 8%, rgba(96,91,210,1) 97%);
}

/* modal styles*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    max-width: 50%;
    top: 10%;
    left: 25%;
    z-index: 50;
    padding: 20px;
}

.modalGroup {
    padding: 10px;
    width: 100%;
}

.modalGroup p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

.modalGroup:nth-of-type(2) p input,
.modalGroup:nth-of-type(3) p input {
    width: 200px;
}

.modalTask {
    border: none;
    border-bottom: 1px solid silver;
    width: 100%;
    padding: 5px;
}

.modalTaskDate {
    padding: 5px;
    border: none;
    border-bottom: 1px solid silver;
    width: 100%
}

.modalTaskDate:focus {
    outline: none;
}

.modalButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}