* {
    box-sizing: border-box;
}

/*container styles*/
.container {
    padding: 20px;
    border: 2px dashed black;
    max-width: 70vw;
    margin: 30px auto;
}

.container h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}


/*Task styles*/
.addTask {
    display: flex;
    position: relative;
}

.taskInput {
    border: none;
    border-bottom: 1px solid silver;
    width: 300px;
    margin-right: 5px;
}

.taskInput:focus {
    outline: none;
}

.plusImg {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.createdTask {
    display: flex;
    margin: 20px 0;
}

.createdTaskContent {
    max-width: 50%;
    min-width: 300px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 20px;
}

.createdTaskCheckboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createdTaskCheckbox {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

/* modal styles*/
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    max-width: 50%;
    top: 10%;
    left: 25%;
    z-index: 50;
    padding: 20px;
}

.modalGroup {
    padding: 10px;
    width: 100%;
}

.modalGroup p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

.modalGroup:nth-of-type(2) p input,
.modalGroup:nth-of-type(3) p input {
    width: 200px;
}

.modalTask {
    border: none;
    border-bottom: 1px solid silver;
    width: 100%;
    padding: 5px;
}

.modalTaskDate {
    padding: 5px;
    border: none;
    border-bottom: 1px solid silver;
    width: 100%
}

.modalTaskDate:focus {
    outline: none;
}

.modalButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
